/*  NAVBAR */

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-default {
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px #d0d4d9;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

/* BODY */

body {
	background-color: #fbfbfb;
}

/*  TOP GOLOCKER IMAGE */

.image-bg-fixed-height {
	background: url('../images/Untitled-6.png') no-repeat center center scroll;
    height: 650px;
    margin-top: 20px;
}


/* SECTION */

.section {
	margin-bottom: 80px;
}

/* TEXT BELOW HEADERS */

.lead {
	color: #999999;
	
}

/*  FORM */

.sep {
	color: #51b231;
}

.btn-primary {
	background-color: #51b231;
	border-color: #51b231;
}

.btn-primary:hover {
  background-color: #51b231;
  border-color: #51b231;
}

p.one:before {
	content: "";
	display: block;
	border-top: solid 1px #c1bfbf;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	z-index: 1;

}
  
p.one span {
	background: #fbfbfb;
	padding: 0 20px;
	position: relative;
	z-index: 5;
	margin-left: 45%;
	margin-top: 7px;
}

/*  Password field */

.pass {
	margin-bottom: -7px;
}

/*  or */

.med {
	margin-top:1px; 
	margin-left:-14px;
	margin-bottom: -7px;
}

/*  TABLE */

.table_sec {
	height: 700px;
	background-color: white;
}

.table {
	border-radius: 5px;
}

.table>thead>tr>th {
	text-align: center;
	font-size: 16px;
	padding: 0px 0px 15px 0px;
}

.table>tbody>tr>td {
	padding-top: 12px;
}

tr {
	min-height: 25px;
   	height: 45px;
}

td {
	width: 160px;
	text-align: center;
	color: #aaaaaa;
}

.first {
	width: 200px;
	font-size: 16px;
	font-weight: bold;
	color: #aaaaaa;
	text-align: right;	
}

.table>tbody>tr>td.first {
	padding-right: 25px;
}

.price {
	color: black;
	font-weight: bold;
}

.thead {
   
   min-height: 25px;
   height: 65px;
}

.fa-check {
	color: #57cf2b;
}

tr.noBorder td {
	border-style:hidden;
}

.noBorder {
	border-style:hidden;
}

.btn-success {
	background-color: #57cf2b;
	border: none;
	width: 160px;
}

.noBorder>tbody>tr>td.pad {
    padding: 0px 0px 10px 10px;
}

.noBorder>tbody>tr>td {
    padding: 0px 0px 10px 0px;
}


.table_div {
	margin-top: 120px;
}

.head {
	text-align: center;

}

.panel {
	margin-top: 40px;
}



/* BELOW 767 */

@media (max-width: 767px) {

	.check {
		margin-left: 17px;
	}

	.free {
		width: 100%;
	}

	.face {
		width: 100%;
	}

	.med {
		width: 100%;
	}

	.name {
		margin-bottom: 5px;
	}

	.col-sm-10 {
    	margin-top: -10px;
	}

	.noBorder>tbody>tr>td.pad {
	    padding-left: 20px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

	.btn-success {
		width: 40px;
		padding: 0px;
	}


	

}

/* BELOW 400 */

@media (max-width: 450px) {


	.image1R {
		margin-left: -75px;
	}

	.section {
		margin-bottom: 30px;
	}

	.image2L {
		margin-left: -75px;
	}

	.noBorder>tbody>tr>td.pad {
	    padding: 0px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

	.btn-success {
		width: 80px;
	}

	td {
		width: 80px;
	}

	.first {
		width: 100px;
	}

	.table_div {
		margin-top: 60px;
	}

}


/* BETWEEN 410 AND 767 */
@media all and (max-width: 767px) and (min-width: 675px) {

    
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

	}

	.righty {
		margin-left: -15px;
    	margin-top: 50px;
	}

	
	.section {
		margin-bottom: 10px
	}

	.image1R {
		margin-left: 4%;
		margin-bottom: 40px;
	}

	.image2L {
		margin-left: 4%;
	}

	.noBorder>tbody>tr>td.pad {
	    padding: 0px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

	.btn-success {
		width: 120px;
	}

}

@media all and (max-width: 680px) and (min-width: 450px) {

	td {
		width: 60px;
		text-align: center;
		color: #aaaaaa;
	}

	.first {
		width: 100px;
		font-size: 16px;
		font-weight: bold;
		color: #aaaaaa;
		text-align: right;	
	}

	.noBorder>tbody>tr>td.pad {
	        padding-left: 45px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

	.btn-success {
		width: 100px;
	}


}

/* BETWEEN 767 AND 994 */

@media all and (max-width: 994px) and (min-width: 767px) {
	.righty {
		margin-left: 15%;
    	margin-top: 50px;
	}
	
	.check {
		margin-left: 17px;
	}

	p.one span {
		margin-left: 47%;
	}

	.col-sm-10 {
    	margin-top: -10px;
	}

	.image2L {
		margin-left: 15%;
	}

	.image2R {
		margin-left: 0px;
	}

	.noBorder>tbody>tr>td.pad {
	    padding: 0px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

	.btn-success {
		width: 120px;
	}

}

/* ABOVE 995 */

@media (min-width: 995px) {

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: -40px;
	}

	.right {
		margin-right: -22px;
	}

	.left {
		margin-left: -22px;
	}

	.righty {
		position: relative;
		left: 118px;
		margin-top: -10px;
	}

	.lefty {
		position: relative;
		right: 25px;
	}

	.col-sm-5 {
	    margin-right: -25px;
        width: 42.2%;

    }

    .col-sm-10 {
    	width: 78%;
    	margin-top: -10px;
	}

	.check {
		margin-left: 17px;
	}

	.image1L {
		margin-top: 60px;
	}

	.image1R {
		left: 10px;
	}

	.image2L {
		right: 525px;
	}

	.image2R {
		left: 495px;
		margin-top: 82px;
	}

	.noBorder>tbody>tr>td.pad {
	    padding: 0px;
	}

	.noBorder>tbody>tr>td {
	    padding: 0px;
	}

}

/* ABOVE 1200 */

@media (min-width: 1200px) {
	
	.col-sm-5 {
		width: 41.8%;
	}

	.righty {
		left: 138px;
		margin-top: -10px;
	}

	.two {
		margin-bottom: 120px;
	}

	.image1L {
		margin-top: 70px;	
	}

	.image1R {
		left: 45px;
	}

	.image2L {
		right: 570px;
	}

	.image2R {
		left: 555px;
		margin-top: 82px;
	}

	.four {
		margin-bottom: 140px;
	}

}






